<div id="appName" class="egypt">
  <p class="head">This is Egypt!</p>
  <img [src]="imageUrl" alt="Website Image" class="image" />
</div>
<div class="main card" style="background-color: blanchedalmond">
  <div class="aim">Aim:</div>
  <p class="p">
    The aim of this website is to inform visitors more about Egypt. In cities
    tab will inform you more about Egyptian cities, the wether tab will display
    the weather. Finally, tech ideas tab will display a form which the user
    might fill it if they have a technical idea to improve tourism in Egypt.
  </p>
</div>
